# Build results
bin/
obj/
out/
publish/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# ASP.NET / EF Core configs
appsettings.json
appsettings.*.json

# Logs
*.log
logs/

# NuGet packages
*.nupkg
*.snupkg
packages/

# Resharper / Rider
_ReSharper*/
*.DotSettings.user
.idea/

# Mac / Linux system files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.bak
*.swp
