@page
@model BookHub.Presentation.Pages.LoginModel
<h2>Login</h2>
<form method="post">
    <input asp-for="Email" placeholder="Email" class="form-control mb-2" />
    <input asp-for="Password" type="password" placeholder="Password" class="form-control mb-2" />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
